table {
    border: 5px solid black;
    padding-left: 2.5vw;
    padding-right: 3.1vw;
    padding-bottom: 3vh;
    height: 30vh;
    width: 50vw;
    background-color: #1D7742;
    margin-left: 22vw;
}

h1 {
color: red;
text-align: center;
background-color: black;
margin-left: 22vw;;
}

#player1 {
    
    display: inline;
}

#player2 {
    display: inline;
}
#dealer1{
    display: inline;
}
#dealer2 {
    display: inline;
}
td {
    text-align: center;
}
#hands {
    margin-top: 10px;
    padding-top: 3px;
    text-align: left;
}

h1 {
    margin-bottom: 0px;
    padding: 5px;
    display: inline-table;
}
button{
    background-color: black;
    color:white;
    font-size: 30px;
    margin: 3vh 1vw 5vw 0vh;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    cursor: pointer;

    
}

footer {
    text-align: center;
    display: inline-block;
    margin-left: 36vw;
}
.pTitle, .title {
    background-color: #A15D4E;
}

.bimg {
    background-color: darkred;
}

img {
    height: 15vh;
    width: 7vw;
    
}
.card {
    display: inline;
    white-space: nowrap;
    
}

body {
    background: url(../images/casino-back.jpg);
}

